extends ../layout/index

block contenido
    .py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-Rosewood Bienes
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl= pagina
        .mt-8.mx-auto.max-w-md
            .alertas.w-full.mx-auto
                if errores && errores.length > 0
                    each error in errores
                        .alerta.bg-red-200.px-4.py-2.rounded-xl
                            .flex.items-center.justify-between
                                ul
                                    li= error.msg
                                button.close-alert.text-gray-500.hover-text-gray-700.x-close
                                    span.x-close &times;
            .bg-white.py-8.px-4.shadow
                form(method='POST' action='/auth/createAccount' noValidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Nombre Completo: 
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder.gray-400(type="text" placeholder="Ingresa tu nombre con apellidos" name="nombre_usuario" value=usuario && usuario.nombre || "")
                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Correo Electrónico: 
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder.gray-400(type="email" placeholder="ej: usuario@dominio.com" name="correo_usuario" value=usuario && usuario.email ||"")
                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Contraseña: 
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder.gray-400(type="password" placeholder="Mínimo de 8 carácteres" name="pass_usuario")
                    div 
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Confirmación Contraseña: 
                        input#password-confirm.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder.gray-400(type="password" placeholder="Mínimo de 8 carácteres, igual a la anterior" name="pass2_usuario")
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Fecha de Nacimiento: 
                        input#dob.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder.gray-400(type="date" name="fecha_nacimiento" value=usuario && usuario.fecha_nacimiento || "")

                    .flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline hover:decoration-2 hover:decoration-Falured") ¿Ya tienes cuenta? Inicia Sesión 
                        a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline hover:decoration-2 hover:decoration-Falured") Olvidé mi contraseña...
                    
                    input(class="w-full bg-Rosewood hover:bg-Auburn text-white font-bold py-3 cursor-pointer text-center" type="submit" value="Regístrate")

    block scripts
        style.
            .alertas {
                margin-bottom: 20px;
            }
            .alerta {
                display: none;
                opacity: 0;
                animation: fadeIn 0.5s forwards;
                position: relative;
                padding: 15px;
                background-color: #fce4e4;
                border-radius: 8px;
                color: #c0392b;
                margin-bottom: 20px;
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .x-close {
                font-size: 20px;
                cursor: pointer;
            }
            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    display: none;
                }
            }
            .close-alert {
                position: absolute;
                top: 5px;
                right: 5px;
                background: transparent;
                border: none;
                color: #c0392b;
                font-size: 20px;
                cursor: pointer;
            }
            .close-alert:hover {
                color: #e74c3c;
            }
            .alerta.fade-out {
                animation: fadeOut 1s forwards;
                display: none;
            }
            .alerta.fade-in {
                animation: fadeIn 0.5s forwards;
            }
            .bg-white {
                background-color: #ffffff;
            }

        script.
            document.addEventListener("DOMContentLoaded", function () {
                const alertas = document.querySelectorAll(".alerta");
                alertas.forEach(alerta => {
                    alerta.style.display = "block";
                    setTimeout(() => {
                        alerta.classList.add("fade-out");
                    }, 5000); 
                });

                const closeButtons = document.querySelectorAll(".close-alert");
                closeButtons.forEach(closeButton => {
                    closeButton.addEventListener("click", function () {
                        const alerta = closeButton.closest(".alerta");
                        alerta.classList.add("fade-out");
                    });
                });
            });
