extends ../layout/index

block contenido 
    input(type="hidden" name="_csrf" value=csrfToken)
    .py-10 
        h1.text-center.text-4xl.my-10.font-extrabold.text-black Bienes
            span.font-normal.text-am1-300  Raíces
        h2.text-center.font-extrabold.text-2xl=page

        p.text-xl.font-bold.text-center.my-10=message1 
            
            a(href="http://gmail.google.com" target="_blank")
                u.text-xl.font-extrabold.text-center.my-10=email 
            span.text-xl.font-bold.text-center.my-10=message2